.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Julius Sans One", sans-serif;
}

#hl {
    width: 60px;
    height: 60px;
}

#titulo {
    display: flex;
    gap: 50px;
    align-items: center
}

#navegacion {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: orangered;
}

body {
    background-color: orange;
}

#hostiles {
    color: red;
}

#aliados {
    color: green;
}

.personaje {
    display: flex;
    justify-content: center;
    padding: 0% 2%;
}

.personajes {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.imagen_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen_nombre img {
    width: 170%;
}

.descripcion {
    padding: 1% 5% 1% 5%;
}